#shrek{
    color: red;
    text-align: center;
}
#trei{
    height: 600px;
    width: 999px;
}
#doi{
    text-align: center;
    color: chocolate;
    height: 100px;
}
#nu{
    height: 600px;
    width: 999px;
}